---
import type { MarkdownLayoutProps } from 'astro';
import MainLayout from '@/layouts/MainLayout.astro';
import '@/styles/profile-animations.css';
import SocialIcons from '@/components/SocialIcons.astro';
import ProfileImage from '@/components/ProfileImage.astro';

interface ButtonConfig {
  name: string;
  url: string;
}

type Props = MarkdownLayoutProps<{
  title: string;
  email?: string;
  subtitle?: string;
  imageTitle?: string;
  socialIcons?: {
    name: string;
    url: string;
    title?: string;
  }[];
  buttons?: ButtonConfig[];
}>;

const { frontmatter } = Astro.props;

const {
  imageTitle = 'Profile image',
  title,
  email,
  subtitle,
  socialIcons = [],
  buttons = [],
} = frontmatter;
---

<MainLayout title="Home">
  <div class="flex flex-1 justify-center items-center text-center">
    <div class="flex flex-col items-center gap-1">
        <ProfileImage 
          alt={imageTitle} 
          title={imageTitle}
        />
      <div class="flex flex-col items-center gap-2">
        <h1 class="text-3xl font-bold m-0 text-primary-color">{title}</h1>
        {email && <span class="text-lg text-secondary-color">{email}</span>}
        {subtitle && <span class="text-lg font-medium mt-2 text-primary-color">{subtitle}</span>}
      </div>
      
      {socialIcons.length > 0 && (
        <div class="mt-2">
          <SocialIcons icons={socialIcons} />
        </div>
      )}
      
      {buttons.length > 0 && (
        <div class="flex flex-wrap justify-center gap-4 mt-6">
          {buttons.map(button => {
            const cleanUrl = button.url.trim();
            return (
              <a 
                class="rounded-lg px-4 py-1.5 text-primary-color bg-tertiary-color font-medium text-base transition-transform hover:scale-[1.02] hover:no-underline no-underline" 
                href={cleanUrl} 
                rel="noopener"
                target="_blank"
                title={button.name}
              >
                {button.name}
              </a>
            );
          })}
        </div>
      )}
    </div>
  </div>
</MainLayout> 